* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Sofia Sans;
  font-style: normal;
}

/* HomePage */

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fbfbfb;
  padding: 3rem;
  gap: 1.5rem;
}

.homepage .homepage-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage h1 {
  align-self: center;

  color: #5351cf;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}

/* Table */

table {
  width: 100%;
  border-radius: 0.25rem;
  border-collapse: collapse;
}

table th {
  color: #545454;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
}

table thead tr :nth-child(1) {
  width: 28rem;
}

table thead tr :nth-child(2) {
  width: 3.5rem;
}

table thead tr :nth-child(3) {
  width: 52.5rem;
}

th,
td {
  padding: 1rem;
  border: 0.063rem solid #b3b3b3;
  user-select: none;
}

.platform {
  color: #181818;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}

.technology {
  padding: 0;
  width: 10.563rem;
  height: 3.563rem;
}

.estimate,
.estimate-new {
  padding: 0;

  height: 1.75rem;
  width: 5.188rem;

  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-align: center;
}

.estimate {
  color: #7e7e7e;
  font-weight: 700;
}

.estimate-new {
  color: #949494;
  font-weight: 600;
}

.total,
.total-new {
  background: #eef;
}

.total .estimate input {
  color: #7e7e7e;
  text-align: center;
  font-family: "Sofia Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}

.estimate-new input {
  color: black;
}

.total :nth-child(1) {
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
}

.feature-cell {
  border-bottom-color: #e6e6e6;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #181818;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
}

.feature svg {
  cursor: pointer;
}

.feature svg:hover path {
  fill: #ffecec;
}

.feature svg:hover rect {
  fill: #ff4242;
}

.feature svg:hover circle {
  fill: #ff4242;
}

.feature svg:active path {
  fill: #ffecec;
}

.feature svg:active rect {
  fill: #e63b3b;
}

.feature svg:active circle {
  fill: #e63b3b;
}

.feature-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0rem 1.6rem;

  color: #6e6e6e;
  font-family: Sofia Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-top-color: #e63b3b;
}

.feature-description div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.feature-description span {
  max-width: 24rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.marker {
  width: auto;
  height: auto;
}

.feature span {
  max-width: 26rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: "inline-block";
}

/* Input */

.estimate-cell-input,
.rate-cell-input {
  outline: none;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;

  color: #181818;
  font-family: Sofia Sans;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
}

.rate-cell-input::placeholder {
  color: #949494;
}

.estimate-cell-input:focus,
.rate-cell-input:focus {
  border: 0.188rem solid #5351cf;
}

.estimate-cell-input:disabled {
  border: none;
}

.estimate-cell-input {
  border: 0.094rem solid #6e6e6e;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
}

.rate-cell-input {
  font-size: 1rem;
  font-weight: 400;

  border: 0.188rem solid transparent;
}

.rate input {
  padding-left: 1rem;
  padding-right: 1rem;
}

.estimate-new input {
  padding-left: 1rem;
  padding-right: 1rem;
}

.total-new .estimate-new input {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rate {
  padding: 0;

  height: 3.5rem;
  width: 10.5rem;
}

.estimate-cell-input::-webkit-inner-spin-button,
.estimate-cell-input::-webkit-outer-spin-button,
.rate-cell-input::-webkit-inner-spin-button,
.rate-cell-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* DropDown */

.dropdown {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
}

.dropdown-toggle {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;

  color: #949494;
  font-family: Sofia Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 2px solid transparent;
}

.dropdown:not(.dropdown.disabled) .dropdown-toggle {
  cursor: pointer;
}

.dropdown.selected .dropdown-toggle {
  color: #181818;
}

.dropdown.opened .dropdown-toggle {
  border: 2px solid #5351cf;
}

.dropdown-arrow {
  width: 1.5rem;
  height: 1.5rem;

  background-size: cover;
  background-position: center;
  justify-self: flex-end;
}

.dropdown.disabled .dropdown-toggle .dropdown-arrow {
  background-image: url("./assets/icons/disabled_down_arrow_icon.svg");
}

.dropdown-arrow svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown .dropdown-arrow {
  background-image: url("./assets/icons/down_arrow_icon.svg");
}

.dropdown.opened .dropdown-arrow {
  background-image: url("./assets/icons/up_arrow_icon.svg");
}

.dropdown-toggle-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle-content span {
  max-width: 6.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-item span {
  max-width: 6.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-toggle-content svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown .dropdown-list {
  position: absolute;
  max-height: 12.375rem;
  overflow-y: auto;
  width: 100%;
  top: 3.5rem;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f0f0f0;
  box-shadow: 0 0.25rem 1.25rem 0 #34343429;
}

.dropdown-list .horizontal-line {
  align-self: stretch;
  border: 0.03rem solid #e6e6e6;
}

.dropdown-item {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.125rem 0.125rem 0 0;

  color: #181818;

  font-family: Sofia Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-align: left;

  cursor: pointer;
}

.dropdown-item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-item:hover {
  background-color: #eeeeff;
}

/* Button */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.0625rem;
  user-select: none;
}

/* primary */

.btn-primary {
  border-radius: 0.25rem;
  border: none;
  background: #5351cf;
  color: #fbfbfb;
  transition: background-color 0.3s ease;
  min-width: 10.2rem;
}

.btn-primary:enabled {
  cursor: pointer;
}

.btn-primary:enabled:not(:disabled):hover {
  color: #f0f0f0;
  background-color: #4341b8;
}

.btn-primary:enabled:not(:disabled):active {
  background-color: #312fa0;
}

.btn-primary:disabled {
  color: #b3b3b3;
  background-color: #e6e6e6;
}

/* secondary */

.btn-secondary {
  border-radius: 0.25rem;
  border: 0.063rem solid #5351cf;
  color: #5351cf;
  background-color: transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  min-width: 10.2rem;
}

.btn-secondary:enabled:not(:disabled):hover {
  color: #4341b8;
  border-radius: 0.25rem;
  border-color: #4341b8;
  cursor: pointer;
}

.btn-secondary:enabled:not(:disabled):active {
  color: #312fa0;
  border-radius: 0.25rem;
  border-color: #312fa0;
}

.btn-secondary:disabled {
  color: #b3b3b3;
  border-radius: 0.25rem;
  border-color: #b3b3b3;
}

.add-feature-btn-cell {
  padding: 4rem 6.25rem;
}

/* Popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 226, 226, 0.9);
  backdrop-filter: blur(0.125rem);
  pointer-events: none;

  opacity: 0;
}

.overlay.show {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}

.header-text {
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
  color: #f0f0f0;
  margin-top: 3rem;
}

/* add-popup */

.add-popup {
  position: fixed;
  width: 30.5rem;
  height: 35.563rem;
  background-color: #fbfbfb;
  border: none;
  border-radius: 0.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fbfbfb;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
}

.add-popup.show {
  opacity: 1;
  z-index: 3;
}

.add-popup-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.add-popup-header svg {
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-start;
  cursor: pointer;
  fill: black;
}

.add-popup-header h1 {
  color: #5351cf;
  font-weight: 700;

  font-family: "Sofia Sans";
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
}

.add-popup-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.add-popup-content .separator {
  align-self: center;
  background: #e6e6e6;
}

.add-popup-buttons {
  justify-self: center;
  display: flex;
  gap: 1.5rem;
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.feature-items-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  height: 22rem;
  width: 100%;
  overflow-y: auto;
  margin-top: 1.5rem;

  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.feature-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  height: 24px;

  color: #181818;
  font-family: "Sofia Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.feature-item.selected {
  color: #4341b8;
}

.feature-item span {
  max-width: 26rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

/* delete-popup */

.delete-popup {
  position: fixed;
  width: 36.5rem;
  height: 17.25rem;
  background-color: #fbfbfb;
  border: none;
  border-radius: 0.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fbfbfb;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
}

.delete-popup.show {
  opacity: 1;
  z-index: 3;
}

.delete-popup-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.delete-popup-header svg {
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-start;
  cursor: pointer;
  fill: black;
}

.delete-popup-header h1 {
  color: #5351cf;
  font-family: "Sofia Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
}

.delete-popup-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;

  color: #181818;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sofia Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
}

.delete-popup-content .separator {
  align-self: center;
  background: #e6e6e6;
}

.delete-popup-content span {
  margin-top: 3rem;
}

.delete-popup-buttons {
  justify-self: center;
  display: flex;
  gap: 1.5rem;
  width: auto;
  height: auto;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* CheckBoxInput */

.checkbox__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  color: #7f8595;
  font-size: 0.75rem;
}

.checkbox__container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox__text {
  margin-left: 0.5rem;
}

/* Toaster */

.toast-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.toast-bar :nth-child(3) {
  width: 1.5rem;
  height: 1.5rem;
}

.toast-bar :nth-child(1) {
  width: 3rem;
  height: 3rem;
}

.toast-bar svg path {
  fill: #fbfbfb;
}

/* GetEstimatesForm */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

form .form-inputs {
  display: flex;
  gap: 5rem;
}

.form-input-label {
  position: absolute;

  padding-left: 0.25rem;
  padding-right: 0.25rem;

  margin-left: 0.8rem;
  margin-top: -0.4rem;

  background-color: #fbfbfb;
  color: #5351cf;

  font-family: "Sofia Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.025rem;
}

.form-input {
  width: 25rem;
  height: 3.5rem;
  border: 0.063rem solid #6e6e6e;
  border-radius: 0.25rem;

  padding: 0.5rem 1rem 0.5rem 1rem;

  color: #6e6e6e;
  font-family: "Sofia Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;

  outline: none;
}

.form-input--filled {
  border-width: 0.125rem;
  border-color: #5351cf;

  color: #181818;
}

.form-input--error,
.form-input--error:focus {
  border-width: 0.125rem;
  border-color: #ff365b;
}

.form-input-error {
  height: 1.25rem;
  position: absolute;
  color: #ff365b;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.025rem;
  margin-left: 1rem;
  padding-top: 0.4rem;
}

.form-input.form-input--error::placeholder {
  color: #ff4242;
}

.form-input:focus:not(.form-input.form-input--error) {
  border-width: 0.125rem;
  border-color: #5351cf;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1.875rem black inset !important;
}

.form-input:-webkit-autofill {
  -webkit-text-fill-color: #f0f0f0 !important;
}

/* Spinner */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 0.25rem solid rgba(0, 0, 0, 0.3);
  border-top: 0.25rem solid #5351cf;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  box-shadow: 0px 4px 20px 0px rgba(52, 52, 52, 0.16) !important;
  background: #fbfbfb !important;
  background-color: #fbfbfb !important;
  border-radius: 4px !important;

  color: #181818 !important;
  font-family: Sofia Sans !important;
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}
